.pagination {
  display: flex;
  align-items: center;
  &__counts {
    margin-right: 0.8em;

    .of,
    .results {
      margin: 0 0.4em;
      font-size: 0.9rem;
    }
  }

  &__controls {
    display: flex;

    .control {
      padding: 0.4em 0.8em;
      margin: 0 0.4em;
      background: transparent;
      border: none;
      color: var(--color-primary-7);
      font-weight: bold;
      font-size: 0.5rem;
      border-radius: var(--border-radius);
      box-shadow: var(--box-shadow-md);
      border: 1px solid var(--color-secondary-4);
      transition: all 0.2s;
      outline: none;

      &:hover,
      &:focus {
        border-color: var(--color-primary-7);

        .icon {
          fill: var(--color-primary-7);
        }
      }

      &:disabled {
        border-color: transparent;
        .icon {
          fill: var(--color-secondary-3);
        }
      }

      .icon {
        fill: var(--color-secondary-7);
        width: 1.4em;
      }

      &--edge {
        .icon {
          width: 1em;
        }
      }
    }
  }
}
