.restaurants {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-gap: 1.5em;
  max-width: 1600px;
  margin: 0 auto;

  &__search {
    // min-height: 8em;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: flex-end;

    .search-button {
      background-color: var(--color-blue-7);
      border: none;
      color: #fff;
      border-radius: 3px;
      margin-left: 0.8em;
      padding: 0.6em 1em;
      cursor: pointer;
    }
  }

  &__results {
    overflow: hidden;
    max-height: 74vh;
    border-radius: 3px;
    border-bottom: 0 none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  }
}
