.select {
  width: 100%;
  position: relative;
  font-size: 0.9rem;

  &__input {
    width: 100%;
    padding: 0.55em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: var(--border-radius);
    border: 2px solid var(--color-secondary-3);
    box-shadow: var(--box-shadow-md);
    transition: all 0.2s;

    &:focus {
      outline: none;
      border-color: var(--color-primary-6);

      .icon {
        fill: var(--color-primary-7);
      }
    }

    .selected {
      max-width: calc(100% - 1em);
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .icon {
      width: 12px;
      fill: var(--color-secondary-6);
    }
  }

  &__options {
    margin-top: 0;
    padding: 0.5em;
    position: absolute;
    top: calc(100% + 0.5em);
    z-index: 99;
    background-color: #fff;
    width: 100%;
    max-height: 11em;
    overflow-y: scroll;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-lg);

    .option {
      padding: 0.5em;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      list-style: none;
      transition: all 0.2s;
      border-radius: var(--border-radius);
      cursor: pointer;
      display: flex;
      align-items: center;

      &:not(:last-child) {
        margin-bottom: 0.5em;
      }

      &:hover,
      &:focus,
      &[aria-selected='true'] {
        outline: none;
        background-color: var(--color-primary-2);
        color: var(--color-primary-7);
      }

      .icon {
        width: 0.8em;
        height: 0.8em;
        margin-left: 0.4em;
        fill: var(--color-primary-7);
        margin-bottom: 0.1em;
      }
    }
  }
}
