.table {
  &__row {
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid var(--color-secondary-3);
    position: relative;
    cursor: pointer;
    outline: none;
    transition: all 0.2s;
    overflow: hidden;

    &[aria-expanded='false'] {
      &:hover,
      &:focus {
        background-color: var(--color-primary-1);
      }
    }

    // Expanded Menu
    &[aria-expanded='true'] {
      cursor: default;
      &:focus {
        border-bottom: 2px solid var(--color-primary-7);
      }
      .detail-view {
        height: 14em;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        opacity: 1;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    td {
      &.genres {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
}
