.detail-view {
  padding: 0 1.15em;
  height: 0px;
  opacity: 0;
  width: 100%;
  grid-column: 1 / 5;
  transition: all 0.3s cubic-bezier(0.33, 1, 0.68, 1);
  display: grid;
  grid-gap: 1em;
  grid-template-areas:
    'tags tags hours hours'
    'address address hours hours'
    'website . . .';
  align-content: flex-start;

  .section {
    &__title {
      display: flex;
      align-items: center;
      font-size: 0.9rem;
      margin-bottom: 0.4em;

      .icon {
        margin-right: 0.4em;
        width: 0.8em;
        fill: var(--color-secondary-9);
      }
    }

    &__text {
      font-size: 0.8rem;
      margin-bottom: 0.4em;
    }
  }

  .address {
    grid-area: address;
    p {
      margin-left: 0.2em;
    }
  }

  .website {
    grid-area: website;
    .btn {
      width: 100%;
    }
  }

  .tags {
    grid-area: tags;
  }

  .hours {
    grid-area: hours;
  }
}
