.search {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5em;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  .search-bar {
    display: flex;
    align-items: flex-end;

    &__button {
      background-color: var(--color-blue-7);
      border: none;
      color: #fff;
      border-radius: var(--border-radius);
      margin-left: 0.8em;
      padding: 0.6em 1em;
      margin-left: 0.8em;
      font-weight: 600;
    }
  }
}
