.search {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5em;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  .panel__body {
    padding-bottom: 0.4em;

    .select,
    .search-bar {
      margin-bottom: 1em;
    }
  }

  .search-bar {
    display: flex;
    align-items: flex-end;

    &__button {
      border: none;
      color: #fff;
      margin-left: 0.8em;
      padding: 0.6em 1em;
      margin-left: 1em;
      font-weight: 600;
      font-size: 0.9rem;
      background-color: var(--color-primary-7);
      border-radius: var(--border-radius);
      box-shadow: var(--box-shadow-md);
    }
  }
}
