.table {
  width: 100%;
  border-collapse: collapse;
  min-width: 1200px;
  position: relative;
  background-color: #fff;
  border-radius: inherit;

  &__container {
    overflow-x: auto;
  }

  thead {
    position: sticky;
    top: 0;
    background-color: var(--color-blue-7);
    z-index: 5;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    color: #fff;
    th {
      font-size: 1rem;
      font-weight: bold;
      padding: 0.85em 1.15em;
      text-transform: uppercase;
      letter-spacing: 0.2px;
    }
  }

  thead,
  tbody {
    display: block;
  }

  tr {
    display: grid;
    grid-template-columns: 1fr 200px 175px 150px 1fr 150px;

    td {
      padding: 1.15em;
      font-size: 0.85rem;
      text-transform: capitalize;
    }

    td,
    th {
      text-align: left;

      &.state {
        text-align: center;
      }

      &:last-child {
        padding-right: 0.6em;
      }
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1.5em 1em;
  }
}
